/* Widget Styling
------------------------------------------------------------ */

// default widget styles
.widget {
    @extend .clearfix;

    ul {
        padding-left: 0;

        ul {
            padding-left: $padding-large-horizontal;
        }
    }

    li {
        list-style-type: none;
        word-wrap: break-word;
        padding-bottom: $padding-large-vertical;

    }

    table {
        @extend .table;
        @extend .table-condensed;
    }


    // 
    // The two below changes show the end result style, these changes need to be
    // applied through markup changes when possible.
    //

    // Handle the missing padding from .panel-body when no widget title is used
    > :not(.panel-body) {
        padding: $panel-body-padding;
    }

    // Make widget select dropdowns inherit the default Bootstrap select styles
    select {
        @extend .form-control;
    }

}

.widget_search {
    .search-query {
        margin-bottom: 10px;
    }
}

// includes ID in selector for specificity
.widget_calendar #wp-calendar {
    th, td {
        padding: 0;
    }
}